@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.chart{
    flex: 4;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #1c1b1b;
    -webkit-box-shadow: 2px 4px 10px -1px rgba(255,255,231,0.64); 
    box-shadow: 2px 4px 10px 1px rgba(255,255,231,0.64);

    .title{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
    }
}