

.table{
    border-radius: 10px;

    .table-cell{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: black;
    }

    .status{
        padding: 5px;
        border-radius: 5px;
        
        &.Operational{
            color:green;
            background-color: rgba(0, 128, 0, 0.151);
        }
        &.Failed{
            color:red;
            background-color: rgba(128, 23, 0, 0.151);
        }
    }
}