@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.home{
    display: flex;

    .homeContainer {
        flex: 6;
        background: #16161a;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap:20px
        }

        .charts{
            padding: 5px 20px;
        }

        .listContainer{
            -webkit-box-shadow: 2px 4px 10px -1px rgba(255,255,231,0.64); 
            box-shadow: 2px 4px 10px 1px rgba(255,255,231,0.64);
            padding: 20px;
            border-radius: 10px;
            margin: 20px;
        }

        .listTitle{
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }


}